*
{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::selection 
{
    color: white;
    background-color: #9c27b0;
}

.container
{
    margin: 0;
    padding: 0;
}

body 
{
    background-image: url('../images/bgimg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

a 
{
    text-decoration: none;
}

textarea
{
    resize: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

#navbar 
{
    margin-left: 45px;
}

#logo
{
    border-right: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 50px;
    cursor: pointer;
}

nav 
{
    padding-left: 50px;
}

nav a 
{
    font-size: 20px;
    font-weight: 700;
    position: relative;
}

nav a:before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: purple;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav a:hover:before
{
    visibility: visible;
    transform: scaleX(1);
}

#homebanner 
{
    margin-top: 75px;
}

.subheader 
{
    color: rgb(102, 99, 99);
}

.title-header 
{
    position: relative;
    text-align: center;
    color: white;
}

.title-header h1
{
    font-size: 65px;
    font-weight: 800;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-header h3
{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content
{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.content-list
{
    border: 2px solid aqua;
    border-radius: 100px;
    padding: 10px;
}

.content-list h1
{
    font-size: 42px;
}

.content-list p
{
    font-size: 22px;
}

.service-list 
{
    width: 100%;
}

.service-list a 
{
    color: rgb(0, 0, 139);
}

.service-list a:hover 
{
    color: rgb(177, 0, 0);
}

.service-list .list-item 
{
    height: 250px;
    width: 300px;
    background-color: rgba(254, 255, 225, 0.959);
    margin: 15px;
}

.service-list .list-item:hover
{
    animation: shake 0.5s;
    animation-iteration-count: 0.5;
}

@keyframes shake 
{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.service-list .list-item .list-item-img
{
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

#pageup 
{
    padding: 12px;
    font-size: 25px;
    border-radius: 40px;
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    color: white;
    position: fixed;
    right: 2%;
    bottom: 6%;
    cursor: pointer;
}

.tab-body
{
    padding: 0 25px 25px 25px;
}

ul 
{
    list-style-image: url('../images/arrow.png');
    margin-left: 25px;
}

.tab ul li 
{
    font-size: 18px;
    color: #a58;
}